 @font-face {
    font-family: 'MyFont';
    src:  url('fonts/my-font.woff2') format('woff2'),
         url('fonts/my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: red;
    font-family: 'MyFont';
    background: url('../images/icon.png');
}
body {
    background-color: blue;
}
